<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>
    <form action="/fazer_pedido" method="post">
        
        <p>Telefone: <input type="text" name="telefone"></p>
        <p>Nome: <input type="text" name="nome"></p>
        <p>Endereço: <input type="text" name="endereco"></p>
        <h2>Itens:</h2>
        <ul>
            {% for item in menu %}
            <li>
                <input type="checkbox" name="itens" value="{{ loop.index0 }}"> {{ item.nome }} - R$ {{ item.preco }}
            </li>
            {% endfor %}
        </ul>
        <button type="submit">Fazer Pedido</button>
    </form>
</body>
</html>
